src/wsdl/localhost_8080/Gruppenarbeit2_Server/Fahrzeugverleih.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.GA2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.GA2/" name="Fahrzeugverleih">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.GA2/" schemaLocation="http://localhost:8080/Gruppenarbeit2_Server/Fahrzeugverleih?xsd=1"/>
</xsd:schema>
</types>
<message name="findFahrzeugById">
<part name="parameters" element="tns:findFahrzeugById"/>
</message>
<message name="findFahrzeugByIdResponse">
<part name="parameters" element="tns:findFahrzeugByIdResponse"/>
</message>
<message name="findKundeById">
<part name="parameters" element="tns:findKundeById"/>
</message>
<message name="findKundeByIdResponse">
<part name="parameters" element="tns:findKundeByIdResponse"/>
</message>
<message name="createNewKunde">
<part name="parameters" element="tns:createNewKunde"/>
</message>
<message name="createNewKundeResponse">
<part name="parameters" element="tns:createNewKundeResponse"/>
</message>
<message name="findAllFahrzeuge">
<part name="parameters" element="tns:findAllFahrzeuge"/>
</message>
<message name="findAllFahrzeugeResponse">
<part name="parameters" element="tns:findAllFahrzeugeResponse"/>
</message>
<message name="findLeihvertragByKunde">
<part name="parameters" element="tns:findLeihvertragByKunde"/>
</message>
<message name="findLeihvertragByKundeResponse">
<part name="parameters" element="tns:findLeihvertragByKundeResponse"/>
</message>
<message name="createNewLeihvertrag">
<part name="parameters" element="tns:createNewLeihvertrag"/>
</message>
<message name="createNewLeihvertragResponse">
<part name="parameters" element="tns:createNewLeihvertragResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="createNewFahrzeug">
<part name="parameters" element="tns:createNewFahrzeug"/>
</message>
<message name="createNewFahrzeugResponse">
<part name="parameters" element="tns:createNewFahrzeugResponse"/>
</message>
<portType name="FahrzeugverleihSoapWebservice">
<operation name="findFahrzeugById">
<input wsam:Action="http://soap.GA2/FahrzeugverleihSoapWebservice/findFahrzeugByIdRequest" message="tns:findFahrzeugById"/>
<output wsam:Action="http://soap.GA2/FahrzeugverleihSoapWebservice/findFahrzeugByIdResponse" message="tns:findFahrzeugByIdResponse"/>
</operation>
<operation name="findKundeById">
<input wsam:Action="http://soap.GA2/FahrzeugverleihSoapWebservice/findKundeByIdRequest" message="tns:findKundeById"/>
<output wsam:Action="http://soap.GA2/FahrzeugverleihSoapWebservice/findKundeByIdResponse" message="tns:findKundeByIdResponse"/>
</operation>
<operation name="createNewKunde">
<input wsam:Action="http://soap.GA2/FahrzeugverleihSoapWebservice/createNewKundeRequest" message="tns:createNewKunde"/>
<output wsam:Action="http://soap.GA2/FahrzeugverleihSoapWebservice/createNewKundeResponse" message="tns:createNewKundeResponse"/>
</operation>
<operation name="findAllFahrzeuge">
<input wsam:Action="http://soap.GA2/FahrzeugverleihSoapWebservice/findAllFahrzeugeRequest" message="tns:findAllFahrzeuge"/>
<output wsam:Action="http://soap.GA2/FahrzeugverleihSoapWebservice/findAllFahrzeugeResponse" message="tns:findAllFahrzeugeResponse"/>
</operation>
<operation name="findLeihvertragByKunde">
<input wsam:Action="http://soap.GA2/FahrzeugverleihSoapWebservice/findLeihvertragByKundeRequest" message="tns:findLeihvertragByKunde"/>
<output wsam:Action="http://soap.GA2/FahrzeugverleihSoapWebservice/findLeihvertragByKundeResponse" message="tns:findLeihvertragByKundeResponse"/>
</operation>
<operation name="createNewLeihvertrag">
<input wsam:Action="http://soap.GA2/FahrzeugverleihSoapWebservice/createNewLeihvertragRequest" message="tns:createNewLeihvertrag"/>
<output wsam:Action="http://soap.GA2/FahrzeugverleihSoapWebservice/createNewLeihvertragResponse" message="tns:createNewLeihvertragResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://soap.GA2/FahrzeugverleihSoapWebservice/createNewLeihvertrag/Fault/Exception"/>
</operation>
<operation name="createNewFahrzeug">
<input wsam:Action="http://soap.GA2/FahrzeugverleihSoapWebservice/createNewFahrzeugRequest" message="tns:createNewFahrzeug"/>
<output wsam:Action="http://soap.GA2/FahrzeugverleihSoapWebservice/createNewFahrzeugResponse" message="tns:createNewFahrzeugResponse"/>
</operation>
</portType>
<binding name="FahrzeugverleihSoapWebservicePortBinding" type="tns:FahrzeugverleihSoapWebservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findFahrzeugById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findKundeById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createNewKunde">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllFahrzeuge">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findLeihvertragByKunde">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createNewLeihvertrag">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="createNewFahrzeug">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Fahrzeugverleih">
<port name="FahrzeugverleihSoapWebservicePort" binding="tns:FahrzeugverleihSoapWebservicePortBinding">
<soap:address location="http://localhost:8080/Gruppenarbeit2_Server/Fahrzeugverleih"/>
</port>
</service>
</definitions>